.htmlCustom {
    background: url(../img/desk-blur.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bodyCustom {
    background-color: transparent!important;
    box-shadow: none;
}

body {
    background-color: #ffffff !important;
    color: #333333;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 153px rgb(114, 114, 114);
}

textarea.tePost {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2%;
}

input.inPost {
    font-size: 30px;
    height: 40px;
    line-height: 39px;
    width: 100%;
    margin-bottom: 2%;
}

input.inPost::-webkit-input-placeholder { font-size: 20px; }
input.inPost::-moz-placeholder { font-size: 20px; } /* firefox 19+ */
input.inPost:-ms-input-placeholder { font-size: 20px; } /* ie */
input.inPost:-moz-placeholder { font-size: 20px; }

.btn-Post{
    float: right;
    margin-top: 4%;
    margin-left: 5px;
}

p.preview {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.btn-cont-left {float: left;}
.btn-cont-right {float: right;}
.btn-cont {
    height: 35px;
    line-height: 30px;
    border: 1px solid;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    border-left: none;
    border-right: none;
}

.navbar {
    margin-bottom: 0px!important;
    position: fixed !important;
    z-index: 100 !important;
    right: 0 !important;
    left: 0 !important;
}

p.user-post {color: #b3b3b1; margin-top: -1%;}

.badge {vertical-align: middle !important;}

a.post-title {color: #333333;}

a.post-title:hover {color: #428bca; text-decoration:none;}

div.deleteAlert {margin-top: 4%;}

.btn-no {min-width: 90px;}

.bottom-side {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: black;
}

/*NICO*/
.centerContent{
    width: 80%;
    margin: 0 auto !important;
    padding: 1% 3% 0% 3%;
    box-shadow: 0px 0px 15px 0px rgb(129, 129, 129);
}

.height100{
    height: 100%;
}

.imgBG{
    width: 100%;
    height: 100%;
    opacity: .75;
}

.BG{
    height: calc(100% - 52px);
}

.bottomImg{

    background: rgba(66, 139, 202, 1);
    border: 1px solid white;
    border-bottom: 0;
    color: white;
    position: absolute;
    bottom: 0;
    height: 50px;
    left: 10%;
    font-size: 20px;
    font-weight: 800;
    padding-top: 11px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 10px 10px 0px 0px;
    /* opacity: 0.7; */
    width: 80%;
    box-shadow: 0px -11px 19px -11px black;
    /* -webkit-text-stroke: 0px red; */
    /* color: white; */
}

.user-icon{
    margin-right: 5px;
}

.loginForm {    
    width: 85%;       
}

.homeContainer {
    margin-left: 10% !important;
    margin-top: 8% !important;
}

.col-custom {
    width: 45% !important;
}














